.bodyHome {
  display: flex; /* Flexbox pour aligner le texte et le slider */
  justify-content: space-between; /* Espace entre les deux sections */
  align-items: center; /* Centrer verticalement */
  width: 100%; /* Prendre toute la largeur */
  padding: 20px 80px;
}

.textSection {
  width: 50%; /* Occuper 50 % de la largeur */
  padding-right: 20px; /* Ajouter un espace avec le slider */
}

.swiperContainer {
  width: 50%; /* Occuper 50 % de la largeur */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide img {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Ajouter une ombre pour un effet esthétique */
}

/* Main Layout */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #171919;
  padding: 10px;

}

.bodyHome {
  width: 100%; /* Adaptation sur grands écrans */
  padding: 0px 80px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 4rem;
  color: white;
  line-height: 80px;
  margin-top: 150px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.name {
  font-weight: 800;
}

/* Keyframes pour l'animation du fond */
@keyframes slideBackground {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

/* Animation du fond pour le lien Développeur FullStack */
.developpeur {
  color: #171919;
  background-color: #D2D4FF;
  text-decoration: none;
  border-radius: 150px;
  padding: 10px 20px;
  font-family: 'DM Serif Text', serif;
  font-weight: 500;
  position: relative; /* Positionner correctement l'élément */
  overflow: hidden; /* Cacher la partie du fond qui déborde */
  display: inline-block; /* Empêcher le texte de prendre toute la largeur */
  background: linear-gradient(to right, #D2D4FF, #D2D4FF);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: color 0.1s ease;
}

.developpeur.animated {
  animation: slideBackground 1.5s ease forwards;
}

/* Appliquer un fond vert à Clément NOUET et une taille de texte de 16px */
.clément {
  margin-top: 20px;
  font-size: 48px; /* Taille du texte modifiée */
  padding: 5px 30px;
  border-radius: 150px;
  color: #171919;
}

/* Hover effect on button */
.buttonHome {
  font-family: 'DM Serif Text', serif;
  font-size: 26px;
  border: none;
  background-color: #C6EC64;
  border-radius: 150px;
  padding: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.buttonHome:hover {
  background-color: #D2D4FF;
  color: #171919;
}

/* Responsive Design */
@media (max-width: 768px) {
  .bodyHome {
    width: 90%; /* Prendre plus de largeur sur des écrans plus petits */
    padding: 0px 20px;
  }

  .title {
    font-size: 2.5rem; /* Taille du texte plus petite pour des écrans plus petits */
  }

  .buttonHome {
    font-size: 20px; /* Réduire la taille du bouton */
  }
}
