
.main {
    display: flex;
    justify-content: center;
}

.menu {
display: flex;
justify-content: space-around;
list-style-type: none;
font-family: 'DM Serif Text', serif;
font-size: 16px;
color: white;
border: #4d4d4d 1.5px solid;
border-radius: 50px;
width: 500px;
padding: 0px;
}

.menu li {
    display: inline-block;
    padding: 1em;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 150px;

    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .menu a:hover {
    background-color: #d2d4ff; /* Couleur au survol */
    color: #171919;
  }
  
  .menu a.active {
    background-color: #C6EC64; /* Fond bleu pour la page active */
    color: #171919; /* Texte blanc */
  }